<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="main">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--script link-up-->
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/script.js" type="text/javascript"></script>

        <!--extra-will be removed-->
        <link rel="shortcut icon" href="">
    </head>

    <!--body starts-->
    <body>
        <!--        <div ng-controller="SimpleController">
                    <input ng-model="message" type="text" name="message" value="" />

                    <input  ng-click="addButton(message)" type="button" value="Go"/>

                    <div ng-repeat="employee in employees">
                        <input type="button" value="{{employee.name}}"/>
                    </div>
                </div>-->
        <div ng-controller="buttonAction">
            <input type="text" ng-model="buttonName"/><br/>
            <input type="button" ng-click="activate();" value="Activate"/><br/>
            <button ng-show="isActive">{{ buttonName}}</button>
        </div>
        <hr/>
        <div ng-controller="addingNamesController">
            <form>
                <input type="text" ng-model="name" />
                <input type="number" min="10" ng-model="age" />
                <br/><input type="button" value="Add" ng-click="if (age > 9) {
                                addName();
                            }"/>
            </form>
            <br/>
            <ul>
                <li ng-repeat="user in users" >Name: {{ user.name}}, Age: {{ user.age}}</li>
            </ul>
        </div>
    </body>
</html>
